 <footer id="footer" class="footer">
      <div class="container text-center">
        <div class="container-fluid">
        <span class="title-component">
            <span style="color: #867d3a;">&nbsp © 2017/01</span>
            <span class="text-muted">&nbsp;•&nbsp; Disciplina de Laboratório de Software</span>
        </span>
        <span style="color: #867d3a;" class="pull-right title-component">
           Caroline Guterres
        </span>
  </div>
   </footer>
        
      </div>
    </footer>